<div class="row">
  <div class="col-md-4 mb-4">
    <% if @movie.poster.attached? %>
      <%= image_tag @movie.poster, class: "img-fluid rounded" %>
    <% else %>
      <%= image_tag "https://via.placeholder.com/400x600.png?text=No+Poster", class: "img-fluid rounded" %>
    <% end %>
  </div>

  <div class="col-md-8">
    <div class="d-flex justify-content-between align-items-start">
      <h1><%= @movie.title %></h1>
      <% if user_signed_in? && @movie.user == current_user %>
        <div>
          <%= link_to 'Edit', edit_movie_path(@movie), class: 'btn btn-primary' %>
          <%= button_to 'Destroy', @movie, method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </div>
      <% end %>
    </div>

    <p class="lead"><%= @movie.synopsis %></p>
    <p><strong>Release Year:</strong> <%= @movie.release_year %></p>
    <p><strong>Duration:</strong> <%= @movie.duration %> minutes</p>
    <p><strong>Director:</strong> <%= @movie.director %></p>

    <p>
      <strong>Categories:</strong>
      <% if @movie.categories.any? %>
        <% @movie.categories.each do |category| %>
          <span class="badge bg-primary"><%= category.name %></span>
        <% end %>
      <% else %>
        No categories assigned.
      <% end %>
    </p>

    <hr>

    <h2>Comments</h2>

    <div id="comments">
      <%= render @movie.comments.order(created_at: :desc) %>
    </div>

    <hr>

    <h4>Add a comment</h4>
    <%= form_with(model: [@movie, @movie.comments.build]) do |form| %>
      <% if !user_signed_in? %>
        <div class="mb-3">
          <%= form.label :author_name, class: 'form-label' %><br>
          <%= form.text_field :author_name, class: 'form-control' %>
        </div>
      <% end %>
      <div class="mb-3">
        <%= form.label :content, class: 'form-label' %><br>
        <%= form.text_area :content, rows: 3, class: 'form-control' %>
      </div>
      <div class="mb-3">
        <%= form.submit 'Submit', class: 'btn btn-primary' %>
      </div>
    <% end %>

  </div>
</div>

<div class="mt-4">
  <%= link_to 'Back to movies', movies_path, class: 'btn btn-secondary' %>
</div>